<div class="main-content" id="user-show">
  <h1>Welcome Back, <%= @user.first_name %></h1>

  <h2>Your Networks</h2>
  <% @networks.each do |network| %>
    <ul>
      <li><a href="/networks/<%= network.id %>"><%= network.network_name %></a></li>
    </ul>
  <% end %><br/>
  <a id="network-btn" class="new" href="/networks/new">Create a New Network</a>

  <h2>Browse Networks</h2>
  <% @all_networks.each do |network| %>
    <ul>
      <li><%= network.network_name %> </li>
    </ul>
  <% end %>
</div>
