<div class="main-content">
  <div class = "form-new-network">
  <h1>Create a New Network</h1>
  <div class="new-net-form">
    <p>Create a network that other teachers can join. Networks can engage in forums to discuss the planning and creation of new Unit & Lesson Plans, and can create and share plans with other members of the network!</p>
  
    <%= render 'form' %>
  </div>
  </div>
</div>
  