<div class="anyones">
  <div class="create-body">
    <h1>Create a New Lesson or Unit Plan</h1>
    <div class="create-text signup-login">
      <p>Use our free Unit and Lesson Plan generators to quickly and simply build Common Core aligned documents to be best prepared to guide your students' education.</p>
      <p>Want to be able to save & update your documents? Create an account <a href="/users/new">here!</a></p>
      <div class="create-links">
        <button class="unit-lesson-btn lesson-btn"><a href="/lesson_plans/new">New Lesson Plan</a></button>

        <button id="new-unit-btn" class="unit-lesson-btn unit-btn"><a href="/unit_plans/new">New Unit Plan</a></button> 
      </div>
    </div>
  </div>
</div>
