<div class="anyones">
  <h1>About Teach Together</h1>
  
  <img class="collaboration" src="http://blog.bi101.com/wp-content/uploads/2015/03/online-collaboration-will-accelerate-your-company-1024x635.jpg">

  <p class="about-words">Did you know research shows that schools where teachers collaborate on their instructional planning processes have better student performace outcomes overall? Teach Together heard the rumor and wanted to provide educators with a way to make collaboration as convenient and effective as it possibly can, both to make teachers lives better and to make student learning thrive.</p>

  <p class="about-words">Teach Together allows teachers to form networks within their schools or with other teachers from around the world. Teach Together makes it easy for instructors to create, update and store the Unit and Lesson Plans they create, and to discuss with other educators in their networks.</p> 

  <p class="about-words">Site users also have the benefit of accessing any public documents created by fellow Teach Together members, making it easy to spread the love of learnign and education. Because why shouldn't a great lesson be available to all?</p> 


  
</div>
