<div class="main-content">
  <h1>Your Lesson Plans</h1>

  <% @lessonplans.each do |lessonplan| %>
    <ul>
      <li>
      <a href="/lesson_plans/<%= lessonplan.id %>"><%= lessonplan.title %></a>
      <p>Created <%= time_ago_in_words(lessonplan.created_at) %></p>
      </li>
    </ul>
  <% end %>
</div>
  
