/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}


/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF EIGHT  */

.grid-1-8 {
  width: 12.5%;
}
.grid-2-8 {
  width: 25%;
}
.grid-3-8 {
  width: 37.5%;
}
.grid-4-8 {
  width: 50%;
}
.grid-5-8 {
  width: 62.5%;
}
.grid-6-8 {
  width: 75%;
}
.grid-7-8 {
  width: 87.5%;
}

.grid-8-8,
.grid-full {
  width: 100%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}