<div class="col grid-1-8" id="welcome-box-space"></div>
<div class="welcome-box col grid-4-8">
  <div class="non-semantic-protector">
    <h1 class="ribbon">
       <strong class="ribbon-content">&#9733; &nbsp;&nbsp;&nbsp;  WELCOME TO TEACH TOGETHER  &nbsp;&nbsp;&nbsp; &#9733;</strong>
    </h1>
  </div> 
  <div class="welcome-box-words">
    <ul>
      <li>Create Unit Plans aligned with the Common Core Standards</li>
      <li>Build Lesson Plans to align with your units or to stand alone</li>
      <li>Collaborate with other teachers to ensure all students are learning all core content</li>
    </ul>
  </div>
  <div class="welcome-box-image">
    <img class="pencil" src="/images/Double-J-Design-Ravenna-3d-Pencil.ico">
  </div>
</div>

<div class="generator-box col grid-4-8">
  <div class="generator-words">
    <h3>Click the image to the right to access for our FREE and easy to use Unit and Lesson Plan Generators. It's Common Core aligned and designed to make your life easier!</h3>
    <p>Hint: Become a member to save, update and share all your documents.</p>
  </div>

  <divclass="generator-logo-link">
      <a href="/create"><img class="generator-logo" src="/images/reports.png"></a>
  </div>
</div>


<div class="links" id="welcome-links">
  <button class="links login"><a href="/login">Login</a></button>
  <button class="links signup"><a href="/users/new">Sign Up</a></button>
  <button class="links learnmore"><a href="about">Learn More</a></button>
</div>

  
