<div class="body">

<h1>Your Unit Plans</h1>

  <% @unitplans.each do |unitplan| %>
    <ul>
      <li>
        <a href="/unit_plans/<%= unitplan.id %>"><%= unitplan.title %></a><br/>
        <p><b>Created at: </b><%= unitplan.created_at %></p><br/>
        
      </li>
    </ul>
  <% end %>

</div>