<div class="line top"></div>
<div class="main-content">
  <h1>Your Unit Plans</h1>

  <% @unitplans.each do |unitplan| %>
    <ul>
      <li>
        <a href="/unit_plans/<%= unitplan.id %>"><h3><%= unitplan.title %></h3></a>
        <p>Created <%= time_ago_in_words(unitplan.created_at) %> ago</p>
        
      </li><br/>
    </ul>
  <% end %>
</div>
