<% if session[:user_id] %>  
  <div class="main-content">
    <h1>New Unit Plan</h1>
    <div class = "form-unit-plan">
        <%= render 'form' %>         
    </div>
  </div>
<% else %>   

  <h1>New Unit Plan</h1>
  <div class = "form-unit-plan">
      <%= render 'form' %>         
  </div>
<% end %>
  